name: Build image for hivision-idphotos

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build-hivision-idphotos.yml"
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: Zeyi-Lin/HivisionIDPhotos

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha,scope=hivision-idphotos
          cache-to: type=gha,scope=hivision-idphotos,mode=max
          context: docker/hivision-idphotos
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.actor }}/hivision-idphotos:latest

      - name: Generate attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/${{ github.actor }}/hivision-idphotos
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          push-to-registry: true
